include *.txt
include *.md
include *.pkl
recursive-include ./sentimental_model *

include sentimental_model/datasets/bike-rental-dataset.csv
include sentimental_model/trained_models/*.pkl
include sentimental_model/VERSION
include sentimental_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]